@import "tailwindcss";

@theme {
  --color-White: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
}

html, body, #root {
    height: 100%;
}

button {
  /* Reset default button styles */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  height: auto;
  
  /* Default styles */
  cursor: pointer;
}

.body-df {
  display: table;
  height: 100%;
  width: 100%;
  background-color: var(--Black-500);
} 